<h1>The Resources Locator</h1>
<p>The Resources Locator (TRL) is a friendly tool you can use to remember where resources are located.  To view or add a resource or location click below.
<p>
<%= link_to 'Resources', resources_path %>
<%= link_to 'Locations', locations_path %>